@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
 
    --card: 240 4% 95%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 238 84% 67%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 240 4% 95%;
    --secondary-foreground: 240 10% 3.9%;
 
    --muted: 240 4% 95%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 238 84% 67%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 238 84% 67%;
 
    --radius: 1rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
} 